<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yak.product.dao.ProductDao">
		
	<select id="findProductByCode" resultType="yak.product.entity.ProductEntity">
	  	select id,name,code
	  	from base_product
	 	where code = #{code}
	</select>
	
	<select id="queryProductList" resultType="yak.product.entity.ProductEntity">
	  	select id,name,code
	  	from base_product
	</select>
	
</mapper>