<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yak.price.dao.IPriceDao">
		
	<select id="findPriceByProductCode" resultType="yak.price.entity.PriceEntity">
	  	select id,product_code,price
	  	from base_price
	 	where product_code = #{productCode}
	</select>
	
</mapper>